%section
	%h2
		Elenco iscritti
	%div#query
		%form{ action: '/attendees/query', method: 'post' }
			%label
				query
			%div
				%textarea{ name: 'query', style: 'border:solid 1px'}
			%input{ type: 'submit'}
			
	%table
		%tr
			%th
				
			%th
				Nome
			%th
				email	
			%th
				twitter
			%th
				t_shirt
			%th
				lunch
			%th
				lunch_paid
			%th
				wait_list
			%th
				donation
			%th
				delete

		- @attendees.each_with_index do |a, i|
			%tr
				%td
					= i + 1
				%td
					= link_to a.name, edit_attendee_path(a)
				%td
					= a.email
				%td 
					= a.twitter
				%td
					= a.t_shirt
				%td
					= a.lunch
				%td
					= a.lunch_paid
				%td 
					= a.is_in_wait_list
				%td
					= a.donation
				%td
					= link_to "Delete", attendee_path(a), :method => :delete, :confirm => "Are you sure?"
