%p{:class => "big"} 
  Stiamo lavorando alla prossima conferenza.
  Per maggiori informazioni puoi seguirci sulla <a href="http://tech.groups.yahoo.com/group/ugialtnet/">mailing list</a>
%p
  La call for paper è aperta e puoi inviarci la tua proposta compilando l'apposito <a href="proposals/new">form</a>
  

%div
  %ul
    %li
      = link_to 'New proposal', new_proposal_path
    - if user_signed_in?
      %li
        = link_to('Proposal list', proposals_path)
      %li
        = link_to('Speeches', speeches_path)
      %li
        = link_to('Logout', destroy_user_session_path, :method => :delete) 
    - else
      %li
        = link_to('Login', new_user_session_path) 
  