= form_for @speech do |f|
  -if @speech.errors.any?
    #error_explanation
      %h2= "#{pluralize(@speech.errors.count, "error")} prohibited this speech from being saved:"
      %ul
        - @speech.errors.full_messages.each do |msg|
          %li= msg
  %fieldset    
    .field
      = f.label :from
      = f.time_select :from
    .field
      = f.label :to
      = f.time_select :to
    .field
      = f.label :room
      = f.text_field :room
    .field
      = f.label :title
      = f.text_field :title
    .field
      = f.label :hashtag
      = f.text_field :hashtag
    .field
      = f.label :abstract
      = f.text_area :abstract, :rows => 5
    
    = f.fields_for :speaker do |s|
      .field
        = s.label :name
        = s.text_field :name, :value => @speech.speaker.name
      .field
        = s.label :email
        = s.text_field :email, :value => @speech.speaker.email
      .field
        = s.label :blog
        = s.text_field :blog, :value => @speech.speaker.blog
      .field
        = s.label :twitter
        = s.text_area :twitter, :rows => 3 , :value => @speech.speaker.twitter
      .field
        = s.label :bio
        = s.text_area :bio, :rows => 3 , :value => @speech.speaker.bio

  .actions
    = f.submit 'Save'
