<h1>Listing proposals</h1>

<table>
  <tr>
    <th>Speaker name</th>
    <th>Speaker email</th>
    <th>Title</th>
    <th>Abstract</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @proposals.each do |proposal| %>
  <tr>
    <td><%= proposal.speaker_name %></td>
    <td><%= proposal.speaker_email %></td>
    <td><%= proposal.title %></td>
    <td><%= proposal.abstract %></td>
    <td><%= link_to 'Show', proposal %></td>
    <td><%= link_to 'Edit', edit_proposal_path(proposal) %></td>
    <td><%= link_to 'Destroy', proposal, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Proposal', new_proposal_path %>
