%h1 Listing proposals

%table
  %tr
    %th Speaker name
    %th Speaker email
    %th Title
    %th Abstract
    %th Submitted on
    %th
    %th
    %th

  - @proposals.each do |proposal|
    %tr
      %td= proposal.speaker_name
      %td= proposal.speaker_email
      %td= proposal.title
      %td= proposal.abstract
      %td= proposal.submitted_on
      %td= link_to 'Show', proposal
      %td= link_to 'Edit', edit_proposal_path(proposal)
      %td= link_to 'Destroy', proposal, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Proposal', new_proposal_path
