<p id="notice"><%= notice %></p>

<p>
  <b>Speaker name:</b>
  <%= @proposal.speaker_name %>
</p>

<p>
  <b>Speaker email:</b>
  <%= @proposal.speaker_email %>
</p>

<p>
  <b>Title:</b>
  <%= @proposal.title %>
</p>

<p>
  <b>Abstract:</b>
  <%= @proposal.abstract %>
</p>


<%= link_to 'Edit', edit_proposal_path(@proposal) %> |
<%= link_to 'Back', proposals_path %>
