%p#notice= notice

%div
	your proposal have been saved.
%p
	%b Speaker name:
	= @proposal.speaker_name
%p
	%b Speaker email:
	= @proposal.speaker_email
%p
	%b Title:
	= @proposal.title
%p
	%b Abstract:
	= @proposal.abstract

= link_to 'Back', root_path
- if @proposal.approved
	= link_to 'Unapprove speech', unapprove_proposal_path(@proposal)
- else
	= link_to 'Approva speech', approve_proposal_path(@proposal)