%section
  %p
    %b Title:
    = @proposal.title
  %p
    %b Abstract:
    = @proposal.abstract
  %fieldset
    %legend speaker info  
    %p
      %b Name:
      = @proposal.speaker.name
    %p
      %b Email:
      = @proposal.speaker.email
    %p
      %b Twitter:
      = @proposal.speaker.twitter
    %p
      %b Blog:
      = @proposal.speaker.blog

= link_to 'Back', root_path
- if user_signed_in?
  - if @proposal.approved
    = link_to 'Unapprove speech', unapprove_proposal_path(@proposal)
  - else
    = link_to 'Approve speech', approve_proposal_path(@proposal)